@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
//@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700");
/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}
/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}
@include gridify(2, 400);
@include gridify(4, 600);
/**
 * GENERAL
 */

img {
    max-width: 100;
}
body {
    transition: opacity .25s ease;
    position: relative;
    min-height: 100%;
    max-width: 60em;
    margin: 0 auto;
    padding-top: 1em;
    font-family: "Open Sans";
    //font-size: 90%;
    font-weight: 400;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 2em;
    margin-bottom: 0;
    font-weight: 600;
}
h2 {
    font-size: 1.2em;
    margin-bottom: 0;
    font-weight: 400;
}
h3 {
    font-size: .8em;
    margin-bottom: 0;
    font-weight: 400;
}
.user {
    position: absolute;
    left: 0;
    width: 13em;
    margin-left: 1em;
    & > img {
        max-width: 13em;
        margin: 0 auto .5em;
        display: block;
        border-radius: .5em;
    }
    h2 {
        padding-bottom: 1em;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1em;
    }
    h3 {
        margin-bottom: .5em;
    }
}
.repoList {
    margin-left: 15em;
    padding: 0 1em;
    & > div {
        margin-bottom: 1.5em;
        padding-bottom: 2em;
        border-bottom: 1px solid #ccc;
        position: relative;
        &:first-child {
            padding-top: 1.5em;
            border-top: 1px solid #ccc;
        }
        h2, h3 {
            font-weight: 700;
        }
        h3 {
            position: absolute;
            right: 0;
            bottom: 2.5em;
        }
        a {
            color: #0645AD;
            & > * {
                color: inherit;
            }
        }
    }
}
